* {
    margin: 0;
    box-sizing: border-box;
    
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
    background-color: rgb(20, 20, 20);
}
::-webkit-scrollbar-thumb{
    height: 1vw;
    border-radius: 1vw;
    background-color: #60cdff;
}
#introduction {
    width: calc(100vw - 10px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 9vw;
    gap: 2vw;
    overflow-x: hidden;
    background-color: rgb(20, 20, 20);
}

#introduction h1 {
    text-align: center;
    color: white;
    font-size: 2.3vw;
    color: #60cdff;
    font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

#introduction p {
    width: 100%;
    font-size: 1.5vw;
    color: rgb(243, 243, 243);
    text-align: center;
}
.toolList{
    width: 100%;
    font-size: 1.5vw;
    color: rgb(243, 243, 243);
    text-align: left;
    text-align: justify;
}

.para {
    color: rgb(255, 255, 47);
    padding: 0;
    font-size: 1.5vw
}

.para1 {
    display: inline-block;
    
}

.logo {
    width: 10vw;
    height: 10vw;
    position: relative;
    align-items: center;
    padding: 0;
    z-index: 2;
}

.logo img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1vw;
    border-radius: 5vw;
    background-color: rgb(20, 20, 20);
}

.logo::after,
.logo::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(transparent 30%, #60cdff);
    border-radius: 6vw;
    z-index: -1;
    padding: 5px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    animation: 3s spin linear infinite;
}

.logo::before {
    filter: blur(1.5rem);
}

@keyframes spin {

    100% {
        rotate: 360deg;
    }
}

#walkthroughVideo{
    position: relative;
    overflow-x: hidden;
    width: calc(100vw - 10px);
    min-height: 100vh;
    max-height: 100vh;
    align-items: center;
    text-align: center;
    background-color: rgb(20, 20, 20);
    padding-left: 10vw;
    padding-right: 10vw;
    color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}

#walkthroughVideo h1{
   color:  #60cdff;
   font-family: "Libre Bodoni", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.8vw;
    word-spacing: 0.2vw;
}
#walkthroughVideo button {
    padding: 10px 20px;
    background-color: #60cdff;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2vw;
    transition: background-color 0.3s;
    cursor: pointer;
}

#walkthroughVideo button:hover {
    background-color: #0099cc; 
    cursor: pointer;
}
.walkthroughInfo{
    font-size: 1.5vw;
}
#walkthroughVideo button:active{
    padding: 8px 18px;
}
.buttons{
    display: flex;
    gap: 2vw;
    cursor: pointer;
}
#Features{
    position: relative;
    overflow-x: hidden;
    width: calc(100vw - 10px);
    min-height: 100vh;
    max-height: 100vh;
    align-items: center;
    background-color: rgb(20, 20, 20);
}

#Features h1{
    color: #60cdff;
    font-family: "Libre Bodoni", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.8vw;
} 
.FeaturesDiv{
    position: relative;
    width: calc(100vw - 10px);
    min-height: 100vh;
    max-height: 100vh;
    padding: 1vw;
    overflow-x: hidden;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.info h1{
    color: white;
    margin-bottom: 1.2vw;
}
.info span{
    color: rgb(243, 243, 243);
    font-size: 1.5vw;
}
.gifs{
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1vw;
}
.components1{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1vw;
    
}
.components2{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1vw;
}
.components3{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1vw;
}
.components4{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1vw;
}
.components5{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1vw;
}
.content1{
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
    border: 3px solid yellow
}
.content1::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(8, 8, 8, 0.733);
    z-index: 4;
    top: 0;
    left: 0;
}
.content1 video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;     
  height: 100%;    
  object-fit: cover; 
  border-radius: 8px;
  transition: opacity 0.5s ease;
}
.expand-btn{
    border-radius: 0.5vw;
    padding: 0.5vw;
    font-weight: bold;
    width: 8vw;
    background-color: yellow;
    cursor: pointer;
}
.components{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 8;
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    justify-content: center;
    align-items: center;
}
.components span{
    font-size: 1.3vw;
    background-color: transparent;
    font-family: "Libre Bodoni", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.2px;
}
.expand {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(8, 8, 8, 0.952);
    z-index: 150;
    padding: 2vw;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }
  
  .expand.show {
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2vw;
  }
  
  .expandGIF {
    width: 72%;
    height: 75%;
    border-radius: 1vw;
  }
  .expandGIF video{
    width: 100%;     
  height: auto;   
  object-fit: contain;
  border-radius: 8px; 
  transition: opacity 0.5s ease;
  }
  .expand.show video {
    opacity: 1;
  }
  .close-btn {
    position: absolute;
    right: 2vw;
    top: 2vw;
    font-size: 2vw;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
.content2{
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
    border: 3px solid yellow;
}
.content2::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(8, 8, 8, 0.733);
    z-index: 4;
    top: 0;
    left: 0;
}
.content2 video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;     
  height: 100%;    
  object-fit: cover; 
  border-radius: 8px;
  transition: opacity 0.5s ease;
}
.content3{
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
    border: 3px solid yellow;
}
.content3::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(8, 8, 8, 0.733);
    z-index: 4;
    top: 0;
    left: 0;
}
.content3 video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;     
  height: 100%;    
  object-fit: cover; 
  border-radius: 8px;
  transition: opacity 0.5s ease;
}
.content4{
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
    border: 3px solid yellow;
}
.content4::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(8, 8, 8, 0.733);
    z-index: 4;
    top: 0;
    left: 0;
}
.content4 video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;     
  height: 100%;    
  object-fit: cover; 
  border-radius: 8px;
  transition: opacity 0.5s ease;
}
.content5{
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
    border: 3px solid yellow;
}

.content5::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(8, 8, 8, 0.733);
    z-index: 4;
    top: 0;
    left: 0;
}
.content5 video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;     
  height: 100%;    
  object-fit: cover; 
  border-radius: 8px;
  transition: opacity 0.5s ease;
}
.content6{
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
    border: 3px solid yellow;
}

.content6::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(8, 8, 8, 0.733);
    z-index: 4;
    top: 0;
    left: 0;
}
.content6 video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;     
  height: 100%;    
  object-fit: cover; 
  border-radius: 8px;
  transition: opacity 0.5s ease;
}
.content7{
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
    border: 3px solid yellow;
}

.content7::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(8, 8, 8, 0.733);
    z-index: 4;
    top: 0;
    left: 0;
}
.content7 video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;     
  height: 100%;    
  object-fit: cover; 
  border-radius: 8px;
  transition: opacity 0.5s ease;
}

.content8{
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
    border: 3px solid yellow;
}
.content8::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(8, 8, 8, 0.733);
    z-index: 4;
    top: 0;
    left: 0;
}
.content8 video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;     
  height: 100%;    
  object-fit: cover; 
  border-radius: 8px;
  transition: opacity 0.5s ease;
}

.content9{
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
    border: 3px solid yellow;
}
.content9::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(8, 8, 8, 0.733);
    z-index: 4;
    top: 0;
    left: 0;
}
.content9 video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;     
  height: 100%;    
  object-fit: cover; 
  border-radius: 8px;
  transition: opacity 0.5s ease;
}

.content10{
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
    border: 3px solid yellow;
}
.content10::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(8, 8, 8, 0.733);
    z-index: 4;
    top: 0;
    left: 0;
}
.content10 video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;     
  height: 100%;    
  object-fit: cover; 
  border-radius: 8px;
  transition: opacity 0.5s ease;
}
.content11{
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
    border: 3px solid yellow;
}
.content11::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(8, 8, 8, 0.733);
    z-index: 4;
    top: 0;
    left: 0;
}
.content11 video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;     
  height: 100%;    
  object-fit: cover; 
  border-radius: 8px;
  transition: opacity 0.5s ease;
}
.content12{
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
    border: 3px solid yellow;
}
.content12::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(8, 8, 8, 0.733);
    z-index: 4;
    top: 0;
    left: 0;
}
.content12 video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;     
  height: 100%;    
  object-fit: cover; 
  border-radius: 8px;
  transition: opacity 0.5s ease;
}

.content13{
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
    border: 3px solid yellow;
}
.content13::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(8, 8, 8, 0.733);
    z-index: 4;
    top: 0;
    left: 0;
}
.content13 video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;     
  height: 100%;    
  object-fit: cover; 
  border-radius: 8px;
  transition: opacity 0.5s ease;
}
.content14{
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
    border: 3px solid yellow;
}
.content14::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(8, 8, 8, 0.733);
    z-index: 4;
    top: 0;
    left: 0;
}
.content14 video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;     
  height: 100%;    
  object-fit: cover; 
  border-radius: 8px;
  transition: opacity 0.5s ease;
}
.content15{

    position: relative;
    border-radius: 1vw;
    overflow: hidden;
    border: 3px solid yellow;
}
.content15::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(8, 8, 8, 0.733);
    z-index: 4;
    top: 0;
    left: 0;
}
.content15 video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;     
  height: 100%;    
  object-fit: cover; 
  border-radius: 8px;
  transition: opacity 0.5s ease;
}
.description p{
    color: rgb(243, 243, 243);
    font-size: 1.5vw;
}

#Tools{
    width: calc(100vw - 10px);
    height: 100vh;
    background-color: rgb(20, 20, 20);
    
}
.toolInfo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2vw;
    padding: 10vw;
}
.toolInfo h1, #challenges h1{
    color: #60cdff;
    font-family: "Libre Bodoni", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.8vw;
    word-spacing: 0.4vw;
}
#Tools p{
    color: rgb(243, 243, 243);
    font-size: 1.5vw;
    padding-left: 1.2vw;
}
#challenges{
    width: calc(100vw - 10px);
    height: 100vh;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5vw;
}
.desc{
    position: relative;
    min-width: 80%;
    max-width: 80%;
    min-height:85%;
    max-height:85%;
    margin-top: 3vw;
}
.QApara{
    width: auto;
    height: 100%;
   position: relative;
}
.gif{
    height: 100%;
    display: flex;
    justify-content: center;
}
.gif video{
    width: 100%;     
    height: 100%;  
    object-fit: contain; 
    transition: opacity 0.5s ease;
    object-fit: contain;
}
.QandADivs{
    top: 0;
    position: absolute;
    display: flex;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.QandADivs::-webkit-scrollbar{
    display: none;
}
.QandA1{
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    text-align: left;
    text-align: justify;
    color: rgb(243, 243, 243);
    padding-left: 2vw;
    padding-right: 2vw;
    display: grid;
    grid-template-rows: 38% 62%;
    gap: 2vw;
    box-sizing: border-box;
}
.QandA1 h2{
    text-align: center;
    margin-bottom: 2vw;
    color: white;
}
.QandA1 p{
    font-size: 1.5vw;
}
.QandA1 strong{
    color: yellow;
}
.clng{
    color: red;
}
.slideLeft{
    width: 5vw;
    height: 5vw;
    position: relative;
    left: 99%;
    top: 50%;
    border-radius: 50%;
    font-size: 2.2vw;
    font-weight: bold;
    border: none;
    background-color: yellow;
    z-index: 100;
    cursor: pointer;
}
.slideLeft:hover{
    background-color: rgb(219, 219, 1);
}
.slideLeft:active{
    width: 4.8vw;
    height: 4.8vw;
}
.slideRight{
    width: 5vw;
    height: 5vw;
    position: relative;
    left: -12%;
    top: 50%;
    border-radius: 50%;
    font-size: 2.2vw;
    font-weight: bold;
    border: none;
    background-color: yellow;
    z-index: 100;
    cursor: pointer;
}
.slideRight:hover{
    background-color: rgb(219, 219, 1);
}
.slideRight:active{
    width: 4.8vw;
    height: 4.8vw;
}

.gallary{
    width: calc(100vw - 10px);
    height: 100vh;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gallary h1{
    color: #60cdff;
    margin-bottom: 2vw;
    font-family: "Libre Bodoni", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.8vw;
}
.carousel-container{
    position: relative;
    min-width: 80%;
    max-width: 80%;

}  

.imageContainer{
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    border-radius: 1.2vw;
}
.container{
    display: flex;
    overflow-x: auto;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 1.2vw;
    transition: transform 0.5s ease; 
}
.container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
    
.image1{
    position: relative;
    flex-shrink: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.imgg{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
.imgg img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.headingg{
    background-color: maroon;
    position: absolute;
    bottom: 0.15vw;
    left: 0vw;
    z-index: 99;
    color: white;
    padding: 0.6vw;
    font-size: 0.9vw;
    border-top-right-radius: 1.2vw;
    font-family: "Libre Bodoni", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.5px;
    word-spacing: 0.2vw;
    transition: background-color 3s ease;
}
.ImgslideLeft{
    position: absolute;
    top: 43%;
    right: -6.3%;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    font-size: 2.2vw;
    font-weight: bold;
    border: none;
    background-color: yellow;
    z-index: 100;
    cursor: pointer;
    transition: background-color 3s ease;
}
.ImgslideLeft:hover{
    background-color: rgb(219, 219, 1);
}
.ImgslideLeft:active{
    width: 4.8vw;
    height: 4.8vw;
}
.ImgslideRight{
    position: absolute;
    top: 43%;
    left: -6.3%;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    font-size: 2.2vw;
    font-weight: bold;
    border: none;
    background-color: yellow;
    z-index: 100;
    cursor: pointer;
}
.ImgslideRight:hover{
    background-color: rgb(219, 219, 1);
}
.ImgslideRight:active{
    width: 4.8vw;
    height: 4.8vw;
}
